
.move-list {
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: -webkit-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.scoresheet {
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  background: rgb(255, 255, 245);
  border: 1px solid black;
  display: -webkit-box;
  height: 500px;
  margin: 20px 0 5px 0;
  position: relative;
  width: 200px;
}

.scoresheet-move {
  display: table-row;
  line-height: 19px;
}

.scoresheet-move > * {
  border-bottom: 1px solid #ddd;
  display: table-cell;
  font-family: 'Arial', 'Sans';
  font-size: 12px;
}

.move-index {
  border-right: 1px solid black;
  font-weight: bold;
  text-align: right;
  padding: 0 5px;
  width: 10%;
}

.black-move,
.white-move {
  font-family: "Arial Unicode MS";
  text-align: center;
  width: 45%;
}

.white-move {
  border-right: 1px solid #ddd;
}

.scoresheet-clock {
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  background: rgb(242, 242, 237);
  display: -webkit-box;
}


.scoresheet-player-name {
  font-family: "Arial";
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}

.scoresheet-timers {
  -webkit-box-align: baseline;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
}

.scoresheet-main-timer,
.scoresheet-increment-timer {
  font-family: "Arial";
  padding: 5px;
}

.scoresheet-main-timer {
  font-size: 22px;
}

.scoresheet-increment-timer {
  font-size: 12px;
}

.scoresheet-increment-timer:before {
  content: '(';
}

.scoresheet-increment-timer:after {
  content: ')';
}



