
#chat-game-lobby-container {
  border: 1px solid black;
  height: 300px;
  margin: 40px 20px 20px 20px;
}

#chat-game-list {
  width: 100%;
}

#chat-game-list .game-list-name-column {
  display: none;
}
