
h1 {
  font: 24px 'Arial';
  margin: 20px 0 5px 20px;
}

#refresh-button {
  background: rgb(80, 80, 40);
  border: none;
  border-radius: 4px;
  color: white;
  font: 24px 'Arial';
  position: absolute;
  top: 10px;
  right: 20px;
  height: 2em;
}

.full-screen {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.vertical-layout {
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -webkit-box-sizing: border-box;
  display: -webkit-box;
}

.game-list-container {
  -webkit-box-align: stretch;
  -webkit-box-flex: 1;
  -webkit-box-pack: justify;
  background: #f5f5f5;
  border: 1px solid black;
  margin: 20px;
  overflow-x: hidden;
  overfloy-y: auto;
  position: relative;
}

.game-lobby-list {
  display: table;
  width: 100%;
}

.game-entry {
  display: table-row;
  line-height: 28px;
}

.game-entry:hover {
  background: rgba(80, 80, 40, 0.3);
  font-weight: bold;
}

.game-entry > * {
  border-bottom: 1px solid rgba(80, 80, 40, 0.3);
  border-right: 1px solid rgba(80, 80, 40, 0.3);
  display: table-cell;
  padding: 5px 10px;
  white-space: nowrap;
}

.game-entry > *:last-child {
  width: 100%;
  white-space: normal;
}

.game-entry-header {
  background: rgb(80, 80, 40);
  color: #fff;
  font-weight: bold;
}

.game-entry-header:hover {
  background: rgb(80, 80, 40);
}

.game-status-icon {
  background-size: 24px;
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.game-status-icon[disabled=true] {
  opacity: 0.3;
}

/* Game status icons from http://raphaeljs.com/icons/, released under MIT license */

.status-waiting {
  background-image: url('stopwatch.svg');
}

.status-accepting-players {
  background-image: url('people.svg');
}

.status-observable {
  background-image: url('eye.svg');
}

.status-password-protected {
  background-image: url('locked.svg');
}
